body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: normal;
}

@keyframes float {

    0%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, -12px, 0);
    }
}

/* dotted-grid.css */
.dotted-bg {
    --dot-size: 3.2px;
    --dot-gap: 12.4px;
    --dot-color: rgba(243, 244, 246, 0.8);

    background-image: linear-gradient(var(--dot-color) 0 0);
    background-size: var(--dot-gap) var(--dot-gap);
    background-repeat: repeat;
    background-position:
        calc((var(--dot-gap) - var(--dot-size)) / 2) calc((var(--dot-gap) - var(--dot-size)) / 2);
}




.grid-bg {
    background-image:
        linear-gradient(to right, rgba(229, 231, 235, 0.41) 3px, transparent 1px),
        linear-gradient(to bottom, rgba(229, 231, 235, 0.41) 3px, transparent 1px);
    background-size: 40px 40px;
}

.grid-overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to right, rgba(229, 231, 235, 0.41) 3px, transparent 1px),
        linear-gradient(to bottom, rgba(229, 231, 235, 0.41) 3px, transparent 1px);
    background-size: 32px 32px;
    pointer-events: none;
    z-index: 1;
}

.why-feature-blur {
    position: absolute;
    right: 20px;
    top: -70px;
    width: 180px;
    height: 180px;
    background-color: #652FF3;
    border-radius: 50%;
    filter: blur(93px);
    opacity: 0.6;
}

.blur-bg-variant1 {
    background-color: #652FF3;
}

.blur-bg-variant2 {
    background-color: #F3812F;
}

.blur-bg-variant3 {
    background-color: #1757F3;
}